:root {
  --bg-dark: #0E1137;
  --accent: #1591D0;
  --white: #ffffff;
}

body {
  background-color: var(--bg-dark);
  color: var(--white);
  font-family: "Lato", sans-serif;
}

/* Titres avec ligne décorative */
.heading::after {
  content: "";
  display: block;
  position: relative;
  top: -12px;
  width: 80%;
  height: 2px;
  margin-left: 300px;
  background-color: var(--accent);
}

/* Image de profil stylisée */
.profile-img {
  border-radius: 1rem;
  filter: grayscale(100%) sepia(100%) hue-rotate(90deg);
  max-height: 200px;
  border: 2px solid var(--white);
}

.profile-img:hover {
  filter: none;
  border: 2px solid #ccc;
}

/* Liste d'expérience stylisée */
.experience-list {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.experience-list li::before {
  content: "▹";
  position: absolute;
  left: 0;
  color: var(--white);
}

/* UTILITAIRES */
.color-primary {
  color: var(--white);
}

.color-secondary {
  color: var(--accent);
}

.bg-accent {
  background-color: var(--accent);
}
